/* styles.css */

:root {
  --progress-indicator-bg: #2196f3;
  --step-default-color: #0d47a1;
  --step-complete-color: #fff;
  --step-active-color: #fff;
  --step-circle-color: #0d47a1;
  --user-form-width: 600%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Progress Indicator */

.l-progress-indicator-holder {
  padding: 1em;
  background-color: var(--progress-indicator-bg);
  min-height: 4em;
}

.progress-indicator {
  display: flex;
  position: relative;
}

.progress-indicator__icon {
  position: inherit;
  z-index: 10;
}

.progress-indicator__step {
  position: relative;
  flex-grow: 1;
  flex-basis: 2em;
}

.progress-indicator__step::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 1em;
  margin: 0 auto;
  height: 1rem;
  background-image: radial-gradient(0.3em, var(--step-circle-color) 85%, transparent 100%);
  background-size: 1em 1em;
  background-repeat: repeat-x;
  width: calc(100% - 1em);
  animation: widthUpCircle 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.progress-indicator__step:last-child {
  flex-grow: 0;
}

.progress-indicator__step:last-child::before {
  content: none;
}

/* icons */

.icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.2em;
  margin: 0 -0.2em;
  background-color: var(--progress-indicator-bg);
  position: absolute;
  box-sizing: content-box;
}

/* default color */

.icon > svg {
  fill: var(--step-default-color);
}

.progress-indicator__icon .icon:last-child {
  transform: scale(0);
}

.progress-indicator__step:first-child .airplane,
.progress-indicator__step.is-previous .done {
  fill: var(--step-active-color);
}

.progress-indicator__step:first-child .icon_airplane {
  left: 0;
}

.icon_airplane {
  transform: scale(0);
  fill: var(--step-default-color);
  animation: scaleUp 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
  transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}

.progress-indicator__step_step2 .icon_airplane {
  animation-delay: 0.36s;
}

.progress-indicator__step_step3 .icon_airplane {
  animation-delay: 0.38s;
}

.progress-indicator__step_step4 .icon_airplane {
  animation-delay: 0.4s;
}

.progress-indicator__step.is-previous + .progress-indicator__step .icon_airplane {
  animation: scaleDown 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.progress-indicator__step.is-previous::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 1em;
  margin: 0 auto;
  height: 1rem;
  background-image: radial-gradient(0.3em, var(--step-active-color) 85%, transparent 100%);
  background-size: 1em 1em;
  background-repeat: repeat-x;
  z-index: 1;
  animation: widthUpCircle 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s forwards;
}

.progress-indicator__step.is-previous .icon.icon_done {
  animation: scaleUp 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.progress-indicator__step .progress-indicator__icon::before {
  content: "";
  background-color: var(--step-active-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  transform: scale(0);
}

.progress-indicator__step.is-previous .progress-indicator__icon::before {
  animation: scaleUp 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), fadeOut 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}

/* forms */

.form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.form.form_user-info {
  max-width: 20em;
  width: 100%;
  margin: 0 auto 2em;
  padding: 0 0 1.5em;
  overflow: hidden;
  position: relative;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
}

.form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.form__steps {
  width: var(--user-form-width);
}

.form__step {
  display: inline-block;
  vertical-align: middle;
  max-width: 17em;
  width: 100%;
  position: relative;
  margin: 0 1.5em;
}

.form__title {
  color: #525252;
  margin-left: 1.2em;
}

.button_submit {
  display: block;
  margin-left: 1.46em;
  max-width: 17em;
  width: 100%;
  border: 0;
  background-color: #4caf50;
  color: #fff;
  padding: 0.5em;
  cursor: pointer;
}

.form__active-step {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 5;
}
